{% extends "base.html" %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-xl shadow-md mt-10">
    <h2 class="text-2xl font-bold text-center mb-6 text-blue-600">Connexion</h2>
    <form method="POST">
        <input type="email" name="email" placeholder="Adresse email" required class="w-full mb-3 p-2 border rounded">
        <input type="password" name="mot_de_passe" placeholder="Mot de passe" required class="w-full mb-5 p-2 border rounded">
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Se connecter</button>
    </form>
	<p class="mt-2 text-sm text-right">
      <a href="{{ url_for('auth.mot_de_passe_oublie') }}" class="text-blue-600 hover:underline">

        Mot de passe oublié ?
     </a>
    </p>

</div>
{% endblock %}
